autom4te.cache
m4
aclocal.m4
compile
config.log
config.guess
config.status
config.sub
configure
depcomp
libtool
install-sh
ltmain.sh
Makefile
Makefile.in
missing
**/*.lo
**/.libs
**/.deps
**/.dirstamp
libjanus_live.la
